In [3]:
import warnings

warnings.filterwarnings("ignore")

In [4]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt
import seaborn as sns

In [47]:
colomboProperData = pd.read_csv("../FomaldihydeAnalysis/NullValueHandled/ColomboProperHandledNullValues.csv")
mataraDeniyayaData = pd.read_csv("../FomaldihydeAnalysis/NullValueHandled/MataraDeniyayaHandledNullValues.csv")
nuwaraEliyaData = pd.read_csv("../FomaldihydeAnalysis/NullValueHandled/NuwaraEliyaHandledNullValues.csv")
bibileMonaragalaData = pd.read_csv("../FomaldihydeAnalysis/NullValueHandled/BibileMonaragalaHandledNullValues.csv")
kurunegalaData = pd.read_csv("../FomaldihydeAnalysis/NullValueHandled/KurunegalaProperHandledNullValues.csv")
jaffnaData = pd.read_csv("../FomaldihydeAnalysis/NullValueHandled/jaffnaHandledNullValues.csv")
kandyData = pd.read_csv("../FomaldihydeAnalysis/NullValueHandled/KandyHandledNullValues.csv")

In [48]:
colomboProperData.drop(columns=["Unnamed: 0"], inplace=True)
mataraDeniyayaData.drop(columns=["Unnamed: 0"], inplace=True)
nuwaraEliyaData.drop(columns=["Unnamed: 0"], inplace=True)
bibileMonaragalaData.drop(columns=["Unnamed: 0"], inplace=True)
kurunegalaData.drop(columns=["Unnamed: 0"], inplace=True)
jaffnaData.drop(columns=["Unnamed: 0"], inplace=True)
kandyData.drop(columns=["Unnamed: 0"], inplace=True)

## Analyse Colombo Proper Data Statistics

In [49]:
colomboProperData.head()

  Current Date   Next Date  HCHO reading
0   2019-01-01  2019-01-02      0.000197
1   2019-01-02  2019-01-03      0.000263
2   2019-01-03  2019-01-04      0.000099
3   2019-01-04  2019-01-05      0.000210
4   2019-01-05  2019-01-06      0.000179

In [50]:
colomboProperData.isnull().sum()

Current Date    0
Next Date       0
HCHO reading    0
dtype: int64

In [51]:
colomboProperData.describe()

       HCHO reading
count   1826.000000
mean       0.000151
std        0.000086
min       -0.000112
25%        0.000092
50%        0.000144
75%        0.000209
max        0.000415

## Analyse Matara Deniyaya Data Statistics

In [52]:
mataraDeniyayaData.head()

  Current Date   Next Date  HCHO reading
0   2019-01-01  2019-01-02      0.000006
1   2019-01-02  2019-01-03      0.000006
2   2019-01-03  2019-01-04      0.000236
3   2019-01-04  2019-01-05      0.000064
4   2019-01-05  2019-01-06      0.000053

In [53]:
mataraDeniyayaData.isnull().sum()

Current Date    0
Next Date       0
HCHO reading    0
dtype: int64

In [54]:
mataraDeniyayaData.describe()

       HCHO reading
count   1826.000000
mean       0.000088
std        0.000060
min       -0.000123
25%        0.000054
50%        0.000083
75%        0.000120
max        0.000320

## Analyse NuwaraEliya Data Statistics

In [55]:
nuwaraEliyaData.head()

  Current Date   Next Date  HCHO reading
0   2019-01-01  2019-01-02      0.000191
1   2019-01-02  2019-01-03      0.000191
2   2019-01-03  2019-01-04      0.000191
3   2019-01-04  2019-01-05      0.000051
4   2019-01-05  2019-01-06      0.000065

In [56]:
nuwaraEliyaData.isnull().sum()

Current Date    0
Next Date       0
HCHO reading    0
dtype: int64

In [57]:
nuwaraEliyaData.describe()

       HCHO reading
count   1826.000000
mean       0.000083
std        0.000054
min       -0.000109
25%        0.000054
50%        0.000079
75%        0.000110
max        0.000293

## Analyse Bibile Monaragala Data Statistics

In [58]:
bibileMonaragalaData.head()

  Current Date   Next Date  HCHO reading
0   2019-01-01  2019-01-02      0.000019
1   2019-01-02  2019-01-03      0.000019
2   2019-01-03  2019-01-04      0.000028
3   2019-01-04  2019-01-05      0.000037
4   2019-01-05  2019-01-06     -0.000018

In [59]:
bibileMonaragalaData.isnull().sum()

Current Date    0
Next Date       0
HCHO reading    0
dtype: int64

In [60]:
bibileMonaragalaData.describe()

       HCHO reading
count   1826.000000
mean       0.000120
std        0.000073
min       -0.000125
25%        0.000072
50%        0.000119
75%        0.000166
max        0.000373

## Analyse Kurunegala Data Statistics

In [61]:
kurunegalaData.head()

  Current Date   Next Date  HCHO reading
0   2019-01-01  2019-01-02      0.000088
1   2019-01-02  2019-01-03      0.000137
2   2019-01-03  2019-01-04      0.000148
3   2019-01-04  2019-01-05     -0.000002
4   2019-01-05  2019-01-06      0.000249

In [62]:
kurunegalaData.isnull().sum()

Current Date    0
Next Date       0
HCHO reading    0
dtype: int64

In [63]:
kurunegalaData.describe()

       HCHO reading
count   1826.000000
mean       0.000127
std        0.000067
min       -0.000078
25%        0.000081
50%        0.000121
75%        0.000171
max        0.000330

## Analyse Jaffna Data Statistics

In [64]:
jaffnaData.head()

  Current Date   Next Date  HCHO reading
0   2019-01-01  2019-01-02      0.000058
1   2019-01-02  2019-01-03      0.000102
2   2019-01-03  2019-01-04      0.000039
3   2019-01-04  2019-01-05     -0.000002
4   2019-01-05  2019-01-06      0.000159

In [65]:
jaffnaData.isnull().sum()

Current Date    0
Next Date       0
HCHO reading    0
dtype: int64

In [66]:
jaffnaData.describe()

       HCHO reading
count   1826.000000
mean       0.000105
std        0.000060
min       -0.000089
25%        0.000067
50%        0.000101
75%        0.000139
max        0.000302

## Analyse Kandy Data Statistics

In [67]:
kandyData.head()

  Current Date   Next Date  HCHO reading
0   2019-01-01  2019-01-02      0.000176
1   2019-01-02  2019-01-03      0.000092
2   2019-01-03  2019-01-04      0.000134
3   2019-01-04  2019-01-05      0.000191
4   2019-01-05  2019-01-06      0.000122

In [68]:
kandyData.isnull().sum()

Current Date    0
Next Date       0
HCHO reading    0
dtype: int64

In [69]:
kandyData.describe()

       HCHO reading
count   1826.000000
mean       0.000101
std        0.000068
min       -0.000120
25%        0.000061
50%        0.000099
75%        0.000139
max        0.000322